.main{

    text-align: center;
    color: #58402b;
    font-weight: lighter;
    margin: 0;
    padding: 5px;

    .signIn{
      margin: 10px;
      padding: 5px;
    }
    h1{
      font-size: 40px;
      margin: 10px;
      padding: 5px;
    }
    p{
      font-size: 15px;
      margin: 10px;
      padding: 5px;
    }
    button{
      background-color: blue;
      color:white;
      margin: 10px;
      padding: 5px;
    }
    .mail a{
      color: #58402b;
      text-decoration: none;
    }
    .mail a:hover{
      color: blue;

    }
    .main-ill img{
      width: 50%;
      height: auto;

    }
    .second,
    .third{
      background-color: $main-bg;
      text-align: center;
      padding:30px;

      h5{
        font-size: 20px;
        margin: 15px;
        padding: 15px;
      }

      .row{
        display: flex;
        align-items: center;
        flex-direction: row;

        margin: 15px;
        padding: 15px;

        .hardcore,
        .nofeedback,
        .notsafe{

          img{
            width: 33%;
            height: auto;
          }

        }
      }
      .before{
          img{
            width: 35%;
          }
      }
    }
    .fourth,
    .fifth,
    .sixth,
    .seventh{
      .row{
        display: flex;
        flex-direction: row;
      }
      .row .col-50{
        width: 50%;
        padding-top: 10%;
      }

      .row .col-50.sx img{
        width: 100%;
        height: auto;
      }

      .row .col-50.dx img{
        width: 80%;
        height: auto;
      }

    }
    .eighth{
      background-color: $main-bg;
      text-align: center;


      .box{
        width: 60%;
        background-color: white;
        border: 1px solid #58402b;
        margin-left: 20%;
      }
    }
  .padding{
    padding: 5% 10%;

  }
}
